services:
  postgres:
    image: postgres:15-alpine
    ports:
      - "5445:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: complyark
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
